body {
	background-color: rgb(240, 240, 245);
	font-family: "avenir", helvetica, sans-serif;
	margin: 0;
	color: rgb(166, 166, 166);
	padding-top: 100px;
	position: relative;
	cursor: default;
	font-size: 100px;
}

#explosive:hover {
	font-size: 0px;
	animation-name: explosive;
	animation-duration: 0.05s;
	animation-iteration-count: infinite;
	animation-delay: none;
	cursor: default;
}

#explosive:hover:after {
	content: attr(data-hover);
	font-size: 100px;
}


@keyframes explosive {
	0% {color: black;}
	50% {color: red;}
	100% {color: orange;}



}